<footer class="footer" id="footer">
  <div class="container footer-container">
    <p class="footer-text">
      <span class="accent-text">Chocolate</span> a delicious cure for a bad day
    </p>

    <div class="footer-contact">
      <p class="footer-contact-text">Contact us</p>
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-address-item">
            <a href="tel:+380684439426" class="footer-address-link link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            <a
              href="mailto:simplychoc@gmail.com"
              class="footer-address-link link"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-social">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a href="" class="footer-social-link">
            <svg class="footer-social-icon" width="22" height="22">
              <use href="../img/sgv-sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a href="" class="footer-social-link">
            <svg class="footer-social-icon" width="22" height="22">
              <use href="../img/sgv-sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-menu-group">
      <ul class="footer-menu-list list">
        <li class="footer-menu-item">Home</li>
        <li class="footer-menu-item">How it’s made?</li>
        <li class="footer-menu-item">Our products</li>
        <li class="footer-menu-item">Top sellers</li>
        <li class="footer-menu-item">Chocolate is loved</li>
      </ul>
    </div>
  </div>
</footer>
