<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-section-line">
      <p class="footer-text">
        <span class="accent-text">Chocolate</span> a delicious cure for a bad
        day
      </p>
      <div class="footer-block">
        <div class="footer-contact">
          <p class="footer-contact-text">Contact us</p>
          <address class="footer-address">
            <ul class="footer-address-list list">
              <li class="footer-address-item">
                <a href="tel:+380684439426" class="footer-address-link link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-address-item">
                <a
                  href="mailto:simplychoc@gmail.com"
                  class="footer-address-link link"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>

        <div class="footer-social">
          <ul class="footer-social-list list">
            <li class="footer-social-item">
              <a
                href="https://www.instagram.com/"
                class="footer-social-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-social-icon" width="22" height="22">
                  <use href="../img/sgv-sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="footer-social-item">
              <a
                href="https://twitter.com/"
                class="footer-social-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-social-icon" width="22" height="22">
                  <use href="../img/sgv-sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-menu-group">
      <ul class="footer-menu-list list">
        <li class="footer-menu-item">
          <a class="footer-menu-link link" href="#header">Home</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link link" href="#how-made">How it’s made?</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link link" href="#products">Our products</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
