<header class="header container">
  <div class="page-header-container">
  <nav class="header-nav">
  <ul class="header-logo_list list">
  <li class="header-logo_list-item"><a href="" class="header-title link"><span class="header-logo">SIMPLY</span></a>
</li>
<li class="header-logo_list-item"><a href="" class="header-title link">CHOCOLATE</a></li>
<li class="header-logo_list-item">
  <svg class="header-logo-icon">
    <use href="../img/sgv-sprite.svg#chocolate" ></use>
  </svg>
</li>
</ul>
<ul class="header-nav-list list">
  <li class="header-list-item"> 
      <a class="header-nav-link link" href="">Home
  </a>
</li>
  <li class="header-list-item"> 
      <a class="header-nav-link link" href="#how-made"> How it&#39;s made?</a>
  </li>
  <li class="header-list-item"> 
      <a class="header-nav-link link" href=""> Our products
  </a>
  </li>
  <li class="header-list-item"> 
      <a class="header-nav-link link" href=""> Top sellers
  </a>
  </li>
  <li class="header-list-item"> 
      <a class="header-nav-link link" href=""> Chocolate is loved</a>
  </li>
</ul>
</nav>
<button class="mobile-menu-open"  type="button">
  <svg class="mobile-menu-open_icon" >
      <use href="../img/sgv-sprite.svg#menu"></use>
  </svg>
</button>
<ul class="header-social-list list">
  <li class="header-social-icon">
      <a class="header-social-link link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" >
      <svg class="header-social-svg" width="24" height="24">
          <use href="../img/sgv-sprite.svg#instagram"></use>
      </svg>
  </a>
</li>
  <li class="header-social-icon"><a class="header-social-link" href="https://twitter.com/" target="_blank" rel="noreferrer noopener">
      <svg class="header-social-svg" width="24" height="24">
          <use href="../img/sgv-sprite.svg#twitter"></use>
      </svg>
  </a></li>
</ul>
</div>
<!-- /* Mobile/Tablet MENU */ -->
<!-- <div class="mobile-menu menu-container " >
  <div class="container mobile_menu-container ">
      
<button class="mobile_close-btn " >
<svg class="mobile-menu_close-icon" width="8" height="8">
<use href="../img/sgv-sprite.svg#close-btn"></use>
</svg>
</button>
      
<ul class="mobile_modal-menu list">
<li class="mobile_modal-item">
  <a class="mobile_modal-link link" href="">Home</a>
</li>
<li class="mobile_modal-item">
  <a class="mobile_modal-link link" href="#how-made">How it&#39;s made?</a>
</li>
<li class="mobile_modal-item">
  <a class="mobile_modal-link link" href="">Our products</a>
</li>
<li class="mobile_modal-item">
  <a class="mobile_modal-link link" href="">Top sellers</a>
</li>
<li class="mobile_modal-item">
  <a class="mobile_modal-link link" href="">Chocolate is loved</a>
</li>
<ul class="header-modal-list list">
  <li class="header-modal_item">
      <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"  class="header-modal_social-link">
          <svg class="header-modal_icon" width="24" height="24">
            <use href="../img/sgv-sprite.svg#instagram"></use>
          </svg>
      </a>
  </li>
  <li class="header-modal_item">
      <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener" class="header-modal_social-link">
          <svg class="header-modal_icon" width="24" height="24">
            <use href="../img/sgv-sprite.svg#twitter"></use>
          </svg>
      </a>
  </li>
</ul> -->
</header>
