<section id="how-made" class="container how-made-container">
  <h2 class="section-title">
    how it's <span class="accent-text"> made?</span>
  </h2>
  <div class="img-vid-description">
    <div class="img-vid">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/how-made/blending-choco-desktop.jpg    1x,
            ./img/how-made/blending-choco-desktop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/how-made/blending-choco-tablet.jpg    1x,
            ./img/how-made/blending-choco-tablet@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/how-made/blending-choco-mobile.jpg    1x,
            ./img/how-made/blending-choco-mobile@2x.jpg 2x
          "
        />

        <img
          src="./img/how-made/blending-choco-mobile.jpg"
          alt="blending chocolate"
          class="how-made-img"
        />
      </picture>
    </div>
    <div class="how-made-description-box">
      <div class="how-made-card">
        <h3 class="how-made-description">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-made-description-list">
          <li class="how-made-text list-style">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-text list-style">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-text list-style">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-text list-style">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-text list-style">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
