<div class="backdrop is-hidden" data-modal-subscribe>
  <div class="modal-window-subscribe">
    <div class="modal-subscribe-thumb">
      <button
        type="button"
        class="modal-subscribe-close-btn"
        data-modal-close-subscribe
      >
        <svg class="subscribe-btn-close-icon" width="24" height="24">
          <use href="./img/sgv-sprite.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="subscribe-modal-wrapper">
      <h2 class="subscribe-modal-title">
        explore our <br />
        <span class="subscribe-modal-title-span">new chocolate </span>first!
      </h2>
      <div class="subscribe-submit">
        <form class="subscribe-form">
          <label class="subscribe-modal-form">
            <input
              class="subscribe-modal-input-form"
              type="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              name="user-email"
              id="user-email"
              placeholder="Enter your email"
              required
            />
          </label>
          <button class="subscribe-form-btn-modal btn-orange" type="submit">
            Submit
          </button>
          <button
            class="subscribe-form-btn-modal-outer btn-orange"
            type="submit"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
