<div class="backdrop is-hidden" data-modal-sellers>
  <div class="modal-buy-now">
    <button class="modal-btn-buy-close" data-modal-close-sellers type="button">
      <svg class="modal-icon-buy-close" width="14" height="14">
        <use href="./img/sgv-sprite.svg#icon-close-black-18dp"></use>
      </svg>
    </button>
    <h2 class="section-title"><span class="accent-text">BUY</span> NOW</h2>
    <div class="modal-buy-milk">
      <ul class="modal-buy-information">
        <li class="modal-buy-li">
          <img
            class="modal-buy-black-choco"
            src="./img/modal-buy-now/Black-chocolate.jpg"
            alt="Black-chocolade"
            width="84"
            height="69"
          />
          <button class="modal-buy-btn-price">100 g</button>
        </li>
        <li class="modal-buy-li">
          <img
            class="modal-buy-black-choco"
            src="./img/modal-buy-now/kinder-chocolate.jpg"
            alt="kinder-chocolate"
            width="84"
            height="69"
          />
          <button class="modal-buy-btn-price">200 g</button>
        </li>
        <li class="modal-buy-li">
          <img
            class="modal-buy-black-choco"
            src="./img/modal-buy-now/Milk-chocolate.jpg"
            alt="Milk-chocolate"
            width="84"
            height="69"
          />
          <button class="modal-buy-btn-price">300 g</button>
        </li>
      </ul>
    </div>
    <form name="modal-buy-form">
      <label class="modal-buy-label">Personal information</label>
      <div class="modal-buy-wrapper">
        <input
          placeholder="Name"
          class="modal-buy-now-text"
          type="text"
          pattern="[A-Za-z]+"
          name="modal-name"
          id="modal-name"
        />
        <input
          placeholder="Surname"
          class="modal-buy-now-text"
          type="text"
          pattern="[A-Za-z]+"
          name="modal-surname"
          id="modal-surname"
        />
      </div>
      <label class="modal-buy-label">Email</label>
      <div class="modal-buy-wrapper">
        <input
          placeholder="Enter your email"
          class="modal-buy-now-input"
          type="text"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          name="modal-email"
          id="modal-email"
        />
      </div>
      <label class="modal-buy-label">Phone number</label>
      <div class="modal-buy-wrapper">
        <label class="modal-buy-code" for="tel_form">+380</label>
        <input
          placeholder="Phone number"
          class="modal-buy-now-input-phone"
          type="text"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          name="modal-phone"
          id="tel_form"
        />
        <svg class="modal-icon-buy-ukr" width="24" height="24">
          <use href="./img/sgv-sprite.svg#icon-Ukr"></use>
        </svg>
      </div>
      <label class="modal-buy-label">Card number</label>
      <div class="modal-buy-wrapper">
        <input
          placeholder="Enter card"
          class="modal-buy-now-input"
          type="text"
          pattern="[0-9]{13,19}"
          maxlength="19"
          name="modal-card"
          id="modal-card"
        />
        <svg class="modal-icon-buy-card" width="32" height="21">
          <use href="./img/sgv-sprite.svg#icon-MasterCard"></use>
        </svg>
      </div>
      <label class="modal-buy-label">Comment</label>
      <div class="modal-buy-wrapper">
        <textarea
          placeholder="Enter text"
          class="modal-buy-comment"
          name="modal-comment"
          id="modal-comment"
          rows="6"
        ></textarea>
      </div>
      <button class="modal-btn-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
