<section class="products-section container">
  <h1 class="section-title">OUR <span class="accent-text">PRODUCTS</span></h1>

  <div class="products-container">
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">orange</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">45 UAH</button>
    </div>
    <div class="products-box">
      <img class="products-box-img" src="../img/products/image.jpg" alt="" />
      <h2 class="section-title products-box-title">APPLE&CRANBERRY</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">50 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">orange</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">66 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">pineapple</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">54 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">Classic</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">45 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">honey</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">50 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">Roasted fruits</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">66 UAH</button>
    </div>
    <div class="products-box">
      <img
        class="products-box-img"
        src="../img/products/imgdesktop4@1x.jpg"
        alt=""
      />
      <h2 class="section-title products-box-title">Classic</h2>
      <p class="products-box-descriprion">White chocolate</p>
      <button class="products-box-button" type="button">54 UAH</button>
    </div>
  </div>
</section>
