<section id="products" class="products-section container">
  <h1 class="section-title">OUR <span class="accent-text">PRODUCTS</span></h1>

  <div class="products-container">
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr1@1x.jpg 1x, /img/products/pr1@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr1@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">orange</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">45 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr2@1x.jpg 1x, /img/products/pr2@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr2@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">APPLE&CRANBERRY</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">50 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr3@1x.jpg 1x, /img/products/pr3@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr3@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">orange</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">66 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr4@1x.jpg 1x, /img/products/pr4@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr4@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">pineapple</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">54 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr5@1x.jpg 1x, /img/products/pr5@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr5@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">Classic</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">45 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr6@1x.jpg 1x, /img/products/pr6@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr6@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">honey</h2>
      <p class="products-box-descriprion">Milk chocolate</p>
      <button class="products-box-button" type="button">50 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr7@1x.jpg 1x, /img/products/pr7@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr7@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">Roasted fruits</h2>
      <p class="products-box-descriprion">Dark chocolate</p>
      <button class="products-box-button" type="button">66 UAH</button>
    </div>
    <div class="products-box">
      <picture>
        <source
          srcset="/img/products/pr8@1x.jpg 1x, /img/products/pr8@2x.jpg 2x"
        />
        <img
          class="products-box-img"
          src="/img/products/pr8@1x.jpg"
          alt="Chocolate"
        />
      </picture>
      <h2 class="section-title products-box-title">Classic</h2>
      <p class="products-box-descriprion">White chocolate</p>
      <button class="products-box-button" type="button">54 UAH</button>
    </div>
  </div>
</section>
