<section class="reviwes-section container" id="reviwes">
  <h2 class="section-title review-section-title">
    <span class="accent-text">chocolate</span> is loved
  </h2>

  <div class="reviews-container">
    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse.jpg"
          srcset="/img/reviews/Ellipse.jpg 1x, /img/reviews/Ellipse@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Victoria Dobrzhanska</h3>
        <p class="customer-reveiw-box">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
    </div>

    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse2.jpg"
          srcset="/img/reviews/Ellipse2.jpg 1x, /img/reviews/Ellipse2@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Nazar Babenko</h3>
        <p class="customer-reveiw-box">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
    </div>

    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse3.jpg"
          srcset="/img/reviews/Ellipse3.jpg 1x, /img/reviews/Ellipse3@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Olena Kampusch</h3>
        <p class="customer-reveiw-box">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
    </div>

    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse4.jpg"
          srcset="/img/reviews/Ellipse4.jpg 1x, /img/reviews/Ellipse4@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Natalia Sus</h3>
        <p class="customer-reveiw-box">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </div>
    </div>

    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse5.jpg"
          srcset="/img/reviews/Ellipse5.jpg 1x, /img/reviews/Ellipse5@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Danilo Nottingham</h3>
        <p class="customer-reveiw-box">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </div>
    </div>

    <div class="overflow-frame">
      <div class="review-box">
        <img
          class="customer-box-img"
          src="/img/reviews/Ellipse6.jpg"
          srcset="/img/reviews/Ellipse6.jpg 1x, /img/reviews/Ellipse6@2x.jpg 2x"
          alt="customer1"
          loading="lazy"
        />
        <h3 class="customer-box-title">Irina Tydnyuk</h3>
        <p class="customer-reveiw-box">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </div>
    </div>
  </div>

  <button
    class="button btn-white btn-review"
    type="button"
    data-modal-open-reviews
  >
    Leave a review
  </button>
</section>
