<section class="products-section container">
  <h2 class="review-title">
    <span class="accent-text">chocolate</span> is loved
  </h2>

  <div class="reviews-container container">
    <div class="review-box">
      <img
        class="customer-box-img"
        src="/img/reviews/Ellipse.jpg"
        srcset="/img/reviews/Ellipse.jpg 1x, /img/reviews/Ellipse@2x.jpg 2x"
        alt="customer1"
        loading="lazy"
      />
      <h3 class="customer-box-title">Victoria Dobrzhanska</h3>
      <p class="customer-reveiw-box">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </div>
  </div>
</section>
