<section>
  <h2 class="section-title">
    <span class="accent-text">chocolate</span> is loved
  </h2>

  <div class="reviews-container container">
    <div class="review-box">
      <picture>
        <source
          srcset="
            /img/reviews/Ellipse.jpg        1x,
            /img/reviews/Ellipse.jpg@2x.jpg 2x
          "
        />
        <img
          class="customer-box-img"
          src="./img/reviews/Ellipse.jpg"
          alt="customer1"
        />
      </picture>
      <h3 class="section-title products-box-title">Victoria Dobrzhanska</h3>
      <p class="products-box-descriprion">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </div>
  </div>
</section>
