<section class="sellers">
  <div class="container">
    <h2 class="section-title sellers-title">
      <span class="accent-text">Top</span> Sellers
    </h2>
    <ul class="sellers-list list">
      <li class="sellers-item">
        <img
          class="sellers-img"
          srcset="
            ./img/sellers/img1_335.jpg 335w,
            ./img/sellers/img1_344.jpg 344w,
            ./img/sellers/img1_368.jpg 368w,
            ./img/sellers/img1_670.jpg 670w,
            ./img/sellers/img1_688.jpg 688w,
            ./img/sellers/img1_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-windth: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./img/sellers/img1_344.jpg"
          alt="nuts"
        />
        <p class="sellers-text text-mob">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>

      <li class="sellers-item">
        <img
          class="sellers-img"
          srcset="
            ./img/sellers/img2_335.jpg 335w,
            ./img/sellers/img2_344.jpg 344w,
            ./img/sellers/img2_368.jpg 368w,
            ./img/sellers/img2_670.jpg 670w,
            ./img/sellers/img2_688.jpg 688w,
            ./img/sellers/img2_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-windth: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./img/sellers/img2_344.jpg"
          alt="chocolate"
        />
      </li>
      <li class="sellers-item last-photo">
        <img
          class="sellers-img"
          srcset="
            ./img/sellers/img3_368.jpg 368w,
            ./img/sellers/img3_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-windth: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./img/sellers/img3_368.jpg"
          alt="chocolate"
        />
      </li>
    </ul>
    <div class="text_btn">
      <p class="sellers-text text-tab">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>

      <button
        type="button"
        class="button btn-orange js-open-modal"
        data
        modal="“1”"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
