.components {
  padding: 72px 0;
}

@media only screen and (min-width: 768px) {
  .components {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .components {
    padding: 128px 0;
  }
}

.components-title {
  max-width: 283px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .components-title {
    max-width: 411px;
    font-size: 24px;
    line-height: 1.17;

    margin-bottom: 28px;
  }
}

.components-span {
  color: var(--color-orange);
}

.components-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .components-text {
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.components-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .components-list {
    gap: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .components-list {
    gap: 19px;
  }
}

.components-item {
  position: relative;

  max-width: 335px;
  max-height: 270px;

  background-color: var(--color-white);
  border: 1px solid var(--color-orange);
  border-radius: 15px;

  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .components-item {
    max-width: 336px;
  }
}

@media only screen and (min-width: 1200px) {
  .components-item {
    max-width: 269.75px;
  }
}

.components-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform var(--transition-dur-func);
  transform-style: preserve-3d;
}

.components-thumb.milk-chokolate {
  background-color: var(--color-orange);
  color: var(--color-white);

  background-size: 224px 171px;
  background-image: url(../img/components/milk-chokolate_mob-tab.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 28px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .components-thumb.milk-chokolate {
    background-image: url(/img/components/milk-chokolate_mob-tab@2x.png);
  }
}

@media only screen and (min-width: 1200px) {
  .components-thumb.milk-chokolate {
    background-size: 206px 160px;
    background-image: url(/img/components/milk-chokolate_des.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .components-thumb.milk-chokolate {
    background-image: url(/img/components/milk-chokolate_des@2x.png);
  }
}

.components-thumb.milk {
  background-size: 224px 171px;
  background-image: url(/img/components/milk_mob-tab.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 28px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .components-thumb.milk {
    background-image: url(/img/components/milk_mob-tab@2x.png);
  }
}

@media only screen and (min-width: 1200px) {
  .components-thumb.milk {
    background-size: 206px 160px;
    background-image: url(/img/components/milk_des.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .components-thumb.milk {
    background-image: url(/img/components/milk_des@2x.png);
  }
}

.components-thumb.nuts {
  background-color: var(--color-dark-violet);
  color: var(--color-white);

  background-size: 224px 171px;
  background-image: url(/img/components/nuts_mob-tab.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 28px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .components-thumb.nuts {
    background-image: url(/img/components/nuts_mob-tab@2x.png);
  }
}

@media only screen and (min-width: 1200px) {
  .components-thumb.nuts {
    background-size: 206px 160px;
    background-image: url(/img/components/nuts_des.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .components-thumb.nuts {
    background-image: url(/img/components/nuts_des@2x.png);
  }
}

.components-thumb.semi-sweet {
  background-size: 224px 171px;
  background-image: url(/img/components/semi-sweet_mob-tab.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 28px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .components-thumb.semi-sweet {
    background-image: url(/img/components/semi-sweet_mob-tab@2x.png);
  }
}

@media only screen and (min-width: 1200px) {
  .components-thumb.semi-sweet {
    background-size: 206px 160px;
    background-image: url(/img/components/semi-sweet_des.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .components-thumb.semi-sweet {
    background-image: url(/img/components/semi-sweet_des@2x.png);
  }
}

.components-subtitle {
  position: absolute;
  left: 28px;
  bottom: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.components-overlay {
  background-color: var(--color-white);
  color: var(--color-dark-violet);

  height: 270px;
  padding: 28px;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 374px), (min-width: 1200px) {
  .components-thumb:hover .components-overlay,
  .components-thumb:focus .components-overlay {
    overflow: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .components-overlay {
    padding: 20px;
  }
}

.components-item:hover .components-thumb,
.components-item:focus .components-thumb {
  transform: rotateY(180deg);
}

.components-overlay-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.components-overlay-list {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .components-overlay-list {
    margin-bottom: 14px;
  }
}

.components-overlay-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;

  font-size: 10px;
  line-height: 1.2;

  background-color: var(--color-light);
  border: 1px solid var(--color-orange);
  border-radius: 35px;

  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func);
  transition-delay: 250ms;

  pointer-events: none;
}

.components-item:hover .components-overlay-button.active,
.components-item:focus .components-overlay-button.active {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.components-overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}
