.how-made-container {
  background-color: #fafafa;
}

.img-vid-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.how-made-img {
  width: 335px;
  height: 500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(pastry-chef-preparing-chocolate-cake.jpg);
  border-radius: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.how-made-description-box {
}

.how-made-description {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-black);
  margin-bottom: 20px;
}

.how-made-description-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.how-made-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.how-made-card {
  width: 335px;
  height: 456px;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 14px;
}

@media screen and (min-width: 768px) {
  .img-vid-description {
    margin-top: 50px;
  }

  .img-vid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how-made-img {
    width: 614px;
    height: 400px;
  }

  .how-made-card {
    width: 614px;
    height: 356px;
    padding: 32px;
  }

  .how-made-description {
    margin-bottom: 28px;
  }

  .how-made-description-list {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .img-vid-description {
    flex-direction: row;
  }

  .how-made-img {
    width: 600px;
    height: 400px;
  }
  .how-made-card {
    width: 516px;
    height: 400px;
    padding: 32px;
  }
  .how-made-description-list {
    gap: 24px;
  }
}
