.how-made-container {
  background-color: #fafafa;
  padding-bottom: 36px;
  padding-top: 36px;
}

.how-made-img {
  width: 335px;
  height: 500px;
  border-radius: 15px;
}

.img-vid-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.how-made-description {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-black);
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .how-made-description br {
    display: none;
  }
}

.how-made-description-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  padding-left: 16px;
}

.how-made-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

ul li::marker {
  list-style-type: disc;
  color: #4c4c4c;
  border: 1px solid #eceded;
}

.how-made-card {
  max-width: 335px;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 14px;
}

@media screen and (min-width: 768px) {
  .how-made-container {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .img-vid-description {
    margin-top: 50px;
  }

  .img-vid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how-made-img {
    width: 614px;
    height: 400px;
  }

  .how-made-description {
    margin-bottom: 28px;
    max-width: 350px;
    max-height: 48px;
  }

  .how-made-card {
    max-width: 614px;
    height: 356px;
    padding: 32px 102px 32px 32px;
  }

  .how-made-description-list {
    align-items: start;
  }

  .how-made-text {
    max-width: 464px;
  }
}

@media screen and (min-width: 1200px) {
  .how-made-container {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  .img-vid-description {
    flex-direction: row;
  }

  .how-made-img {
    width: 600px;
    height: 400px;
  }
  .how-made-card {
    max-width: 516px;
    height: 400px;
    padding: 32px 58px 34px 32px;
  }
  .how-made-description-list {
    gap: 24px;
  }

  .how-made-text {
    max-width: 410px;
  }
}
