.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black);
  letter-spacing: -0.02em;

  background-color: var(--color-light);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--color-black);
}

.accent-text {
  color: var(--color-orange);
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------ Card Set -------------- */
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-column);
  row-gap: var(--indent-row);
}

.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-column) * (var(--items) - 1)) / var(--items)
  );
}

/* Button styles */
.button {
  display: block;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;

  border: 1px solid var(--color-white);
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 14px 40px;
  }
}

.btn-orange {
  background-color: var(--color-orange);
  border: none;

  transition: background-color var(--transition-dur-func),
    color var(--transition-dur-func);
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: var(--hover-beige-btn-color);
  color: var(--color-orange);
}

.btn-transparent {
  background-color: transparent;

  transition: border-color var(--transition-dur-func),
    color var(--transition-dur-func);
}

.btn-transparent:hover,
.btn-transparent:focus {
  border-color: var(--color-orange);
  color: var(--color-orange);
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-orange);

  transition: background-color var(--transition-dur-func),
    color var(--transition-dur-func);
}

.btn-white:hover,
.btn-white:focus {
  background-color: var(--color-orange);
  color: var(--color-white);
}
