.backdrop {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: #2e2f4266;
  backdrop-filter: blur(2px);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.active,
.modal-buy-now.active {
  opacity: 1;
  visibility: visible;
}

.modal-buy-now {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 994px;
  transform: translate(-50%, -50%);
  padding: 32px 24px;

  background: #fafafa;
  border-radius: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-buy-now {
    height: 1058px;
    width: 609px;
    padding: 48px;
  }
}

.modal-btn-buy-close {
  position: absolute;
  height: 28px;
  width: 28px;
  right: 24px;
  top: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  color: #2e2f42;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-buy-close:hover,
.modal-btn-buy-close:focus {
  border-radius: 50%;
  background-color: #fcf1e0;
  color: #f16529;
}

.modal-icon-buy-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
}

.modal-buy-milk {
  margin-top: 32px;
  margin-bottom: 40px;
}

.modal-buy-information {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .modal-buy-information {
    gap: 16px;
  }
}

.modal-buy-li {
  list-style-type: none;
  height: 85px;
  width: 100%;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 16px 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}

@media only screen and (min-width: 768px) {
  .modal-buy-li {
    width: 160px;
    height: 196px;
    flex-direction: column;
    gap: 14px;
  }
}

.modal-buy-black-choco {
  width: 84px;
  height: 69px;
}

@media only screen and (min-width: 768px) {
  .modal-buy-black-choco {
    width: 120px;
    height: 107px;
  }
}

.modal-buy-btn-price {
  width: 73px;
  height: 29px;

  border-radius: 100px;
  padding: 6px 15px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-buy-btn-price {
    height: 33px;
    width: 96px;
    padding: 8px 26px;
    margin-right: 0;
  }
}

.modal-buy-btn-price:hover,
.modal-buy-btn-price:focus {
  background-color: #fcf1e0;
  color: #f16529;
}

.modal-buy-label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;

  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .modal-buy-label {
    font-size: 14px;
    line-height: 1.3;
  }
}

.modal-buy-wrapper {
  position: relative;
  margin-bottom: 10px;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .modal-buy-wrapper {
    gap: 21px;
    flex-wrap: nowrap;
  }
}

.modal-buy-now-text {
  width: 100%;
  height: 45px;
  padding: 18px;
  background: #fafafa;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  outline: transparent;
  outline-offset: -1px;
  border-radius: 13px;
  box-shadow: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border: 1.5px solid #1111110d;
  transition: 400ms;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-text {
    font-size: 18px;
    width: 246px;
    height: 66px;
    padding: 22px 24px;
  }
}

.modal-buy-now-text:focus {
  border: 1px solid rgb(241, 101, 41);
  box-shadow: 0 0 0 4px rgba(228, 110, 60, 0.042);
}

.modal-buy-now-input {
  width: 100%;
  height: 45px;
  padding: 14px 18px;
  background: #fafafa;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  outline: transparent;
  outline-offset: -1px;
  border-radius: 13px;
  box-shadow: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border: 1.5px solid #1111110d;
  transition: 400ms;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-input {
    font-size: 18px;
    height: 66px;
    padding: 22px 24px;
  }
}

.modal-buy-now-input:focus {
  border: 1px solid rgb(241, 101, 41);
  box-shadow: 0 0 0 4px rgba(228, 110, 60, 0.042);
}

.modal-buy-phone {
  position: absolute;
  top: 50%;
  left: 74px;
  transform: translateY(-50%);
  transition: 400ms;
  pointer-events: none;
}

.modal-buy-now-input-phone {
  width: 100%;
  height: 45px;
  padding: 14px 18px 14px 106px;
  background: #fafafa;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  outline: transparent;
  outline-offset: -1px;
  border-radius: 13px;
  box-shadow: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border: 1.5px solid #1111110d;
  transition: 400ms;
}

@media only screen and (min-width: 768px) {
  .modal-buy-now-input-phone {
    font-size: 18px;
    height: 66px;
    padding: 22px 24px 22px 177px;
  }
}

.modal-buy-now-input-phone:focus {
  border: 1px solid rgb(241, 101, 41);
  box-shadow: 0 0 0 4px rgba(228, 110, 60, 0.042);
}

.input-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.modal-icon-buy-ukr {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: 400ms;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .modal-icon-buy-ukr {
    width: 32px;
    height: 32px;
    left: 18px;
    background-color: #fafafa;
  }
}

.modal-icon-buy-card {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  transition: 400ms;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .modal-icon-buy-card {
    width: 44px;
    height: 30px;
    right: 24px;
  }
}

.modal-buy-comment {
  display: block;
  width: 100%;
  height: 91px;
  padding: 22px 24px;
  margin-bottom: 18px;

  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #4040404d;
  background-color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .modal-buy-comment {
    height: 100%;
    padding: 22px 24px;
    margin-bottom: 18px;
    font-size: 18px;
  }
}

.modal-buy-comment:focus {
  border: 1px solid rgb(241, 101, 41);
  box-shadow: 0 0 0 4px rgba(228, 110, 60, 0.042);
}

.modal-btn-submit {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #ffffff;
  display: block;
  cursor: pointer;
  border: none;

  width: 109px;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-btn-submit {
    height: 45px;
    width: 133px;
    padding: 14px 40px 14px 40px;
  }
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
