.review-section-title {
  margin: 0 auto 32px;
  text-align: center;
}
.reviwes-section {
  padding-top: 30px;
  padding-bottom: 84px;
}
.review-box {
  position: relative;
  max-width: 335px;
  height: 200px;

  padding: 56px 18px 42px;

  background-color: var(--color-white);
  border: 1px solid var(--border-light-color);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.customer-box-img {
  position: absolute;
  width: 80px;
  height: 80px;

  top: -42px;
  left: 132px;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 50%;
}

.customer-box-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.customer-reveiw-box {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}

.btn-review {
  margin: 65px auto 0;
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-orange);

  transition: background-color var(--transition-dur-func),
    color var(--transition-dur-func);
}

/* ----------slick customized styles------- */
.overflow-frame {
  min-height: 242px;
  padding-top: 42px;
}

.reviews-container {
  display: none;
}

.reviews-container.slick-initialized {
  display: block;
}

@media only screen and (min-width: 768px) {
  .reviews-container > .slick-list {
    margin: 0 -1px;
  }
  .review-box {
    max-width: 344px;
    padding: 56px 16px 42px;
  }
  .btn-review {
    margin: 94px auto 0;
  }
  .reviwes-section {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .reviews-container > .slick-list > .slick-track > .slick-slide {
    margin: 0 16px;
    margin-left: 0;
  }
  .review-section-title {
    margin: 0 auto 50px;
  }

  .btn-review {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media only screen and (min-width: 1200px) {
  .review-box {
    min-width: 360px;
    padding: 56px 24px 26px;
  }

  .reviwes-section {
    padding-top: 64px;
    padding-bottom: 128px;
  }

  .reviews-container > .slick-list > .slick-track > .slick-slide {
    margin: 0 28px;
    margin-left: 0;
  }
  .reviews-container > .slick-list {
    margin: 0 0;
    /* height: 242px; */
  }
  .overflow-frame {
    min-width: 360px;
  }
  .reviews-container > .slick-list > .slick-track {
    width: 3000px !important;
  }
}
