/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./main.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./how-made.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./modal-buy-now.css');
@import url('./modal-review.css');
@import url('./modal-explore.css');
@import url('./footer.css');

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/fonts/montserrat-regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('/fonts/montserrat-medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('/fonts/montserrat-semibold.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-Bold-Italic'),
    url('/fonts/montserrat-bolditalic.ttf') format('truetype');

  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('/fonts/montserrat-bold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --bcg-color: #e2e2e2;
  --color-black: #111111;
  --color-dark-violet: #1e1823;
  --color-orange: #fd9222;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --text-color-dark-theme: rgba(255, 255, 255, 0.7);
  --border-advantages-color: rgba(255, 255, 255, 0.5);
  --text-color-light-theme: rgba(17, 17, 17, 0.7);
  --color-modal-form: rgba(64, 64, 64, 0.3);
  --hover-beige-btn-color: #fcf1e0;
  --border-light-color: rgba(17, 17, 17, 0.1);

  --reviews-card-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);

  /* Card Set */
  --indent-column: 16px;
  --indent-row: 20px;
  --items: 1;

  /* Transition */
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
